
.hero{
    widows: 100%;
    height: 100vh;
    background: url(images/sunrise.jpg);
    background-size: cover;
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items:start;
    justify-content: left;
}
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(transparent), to(#f7faf6));
    background: linear-gradient(to bottom, transparent, transparent, #f7faf6);
  }
.content-hero{
    text-align: left;
    
}
.content-hero h1{
    font-size: 125px;
    font-style: italic;
    color: #fff;
    font-weight: 800;
    margin-top: 0px;

    transition: 0.5s;
}
.content-hero h1:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}
.content-hero h2{
    font-size: 25px;
    font-style: italic;
    color: #fff;
    font-weight: 800;
    margin-top: -40px;

    transition: 0.5s;
}
.content-hero h2:hover{
    -webkit-text-stroke: 0.5px #fff;
    color: transparent;
}
.content-hero h3{
    color: #fff;
    margin-top: 180px;
    font-size: 20px;

}


@media (max-width:600px) {
    .content-hero h1{
        font-size: 80px;
        font-style: italic;
        color: #fff;
        font-weight: 800;
        margin-top: 0px;
        padding-left: 0;
    }
    .content-hero h2{
        font-size: 16px;
        font-style: italic;
        color: #fff;
        font-weight: 800;
        margin-top: -25px;
        padding-left: 0;
    }
    .content-hero h1:hover{
        -webkit-text-stroke: 0.5px #fff;
        color: transparent;
    }
    .content-hero h2:hover{
        -webkit-text-stroke: 0.5px #fff;
        color: transparent;
    }
    .content-hero h3{
        color: #fff;
        margin-top: 125px;
        padding: 0;
        font-size: 16px;
       
    }
    }
}

.contact-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.contact-inputs{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    border-radius: 50px;
    box-shadow: #376A64;
}

.contact-left textarea{
    height: 100px;
    padding-top: 15px;
    border-radius: 20px;
    box-shadow: #376A64;
}

.contact-inputs:focus{
    border: 2px solid #33cccc;
}

.contact-left button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: #376A64;
    cursor: pointer;
}

.contact-left button img{
    height: 15px;
}

@media (max-width:800px) {
    .contact-inputs{
        width: 80vw;
    }
}

.accordion{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
    margin: 5px auto;
    widht: 600px;
    height: 100%;
    align-items: center;
    justify-content: space-evenly; 
}

.accordion li{
    list-style: none;
    width: 100%;
    margin: 5px;
    padding: 15px 15px;
    border-radius: 20px;
    background: #fff;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
                -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}



.accordion li label{
    display: flex;
    align-items: center;
    

    font-size: 18px;
    font-weight: bold;
    color: #555;
    cursor: pointer;
}

label::before{
    content: '+';
    margin-right: 10px;

    font-size: 24px;
    font-weight: bold;
    color: #555;
}

input[type="radio"]{
    display: none;
}

.accordion .content{
    color: #555;
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: .5s;
}

.accordion input[type="radio"]:checked + label + .content{
    max-height: 750px;
    padding: 10px 10px 20px;
    transition: .5s;
}

.accordion input[type="radio"]:checked + label::before{
    content: '-';

}

@media (max-width:600px) {
    .accordion{
        width: 90vw;
    }
}

.container-team{
    widht: 600px;
    height: 100%;
    background: #f7faf6;
    display: flex;
    align-items:start;
    justify-content: center;
    margin-bottom: 25px;
}

.gallery{
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-box{
    width: 100px;
    height: 300px;
    margin: 10px;
    border-radius: 20px;
    background: url(images/1.svg);
    background-size: cover;
    background-position: center;
    position: relative;
    transition: width 0.5s;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
                -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    
}
.img-box:nth-child(2){
    background: url(images/4.svg);
    background-size: cover;
    background-position: center;
}
.img-box:nth-child(3){
    background: url(images/2.svg);
    background-size: cover;
    background-position: center;
}
.img-box:nth-child(4){
    background: url(images/3.svg);
    background-size: cover;
    background-position: center;
}
.img-box h3{
   
    justify-content: center;
    color:#555;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    left: 10px;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}
.img-box:hover{
    width: 300px;
    cursor: pointer;
}
.img-box:hover h3{

    opacity: 100;
    bottom: -25px;
}

@media screen and (max-width:600px) {
    .container-team{
        widht: 90vw;
    }
    .gallery{
        width: 90vw;
    }
   
    .img-box{
        width: 70px;
        height: 200px;
        margin: 5px;
        border-radius: 20px;
        background: url(images/1.svg);
        background-size: cover;
        background-position: center;
        position: relative;
        transition: width 0.5s;
        box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
                -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    }
    
    .img-box h3{
        color:#555;
        font-size: 12px;
        font-weight: bold;
        position: absolute;
        bottom: 0;
        left: 10px;
        opacity: 0;
        transition: bottom 0.5s, opacity 0.5s;
    }
    .img-box:hover{
        width: 150px;
        cursor: pointer;
    }
    .img-box:hover h3{
        justify-content: center;
        opacity: 1;
        bottom: -25px;
    }
  
}
